@model AMS.Models.AnnouncementIndexViewModel

<div>
<div>
    <div class="page-inner">
        <div style="background-color:#91989F">
            <h1>
                <span class="badge" style="color:#FFFFFB">公告</span>
            </h1>
        </div>
        <div class="card">
            <div class="card-head-row">
                <div class="form-group col-md-12 row">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2 text-center " })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @readonly = true } })

                    </div>
                    @Html.LabelFor(model => model.Importance, htmlAttributes: new { @class = "control-label  col-md-2 text-center" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Importance, new { htmlAttributes = new { @class = "form-control", @readonly = true } })

                    </div>
                </div>

                <div class="form-group col-md-12 row">
                    @Html.LabelFor(model => model.AnnounceTime, htmlAttributes: new { @class = "control-label col-md-2 text-center " })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.AnnounceTime, new { htmlAttributes = new { @class = "form-control", @readonly = true } })

                    </div>
                    @Html.LabelFor(model => model.EmployeeID, htmlAttributes: new { @class = "control-label  col-md-2 text-center" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control", @readonly = true } })

                    </div>
                </div>

                </div>
                <div class="form-group col-md-12 row">
                    @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label  col-md-2 text-center" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Detail, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })


                    </div>
                </div>
                <div class="form-group col-md-12 row">

                    <div class="col-md-offset-3 col-md-12">
                        <div class="float-right">
                            <button class="btn btn-search" style="background-color:#FFFFFB;color:#3A3226;border-color:#91989F" onclick='AnnouncementIndex()'>
                                <i class="flaticon-back"></i><span>
                                    <strong>返回</strong>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>