@model IEnumerable<AMS.Models.Annouuncements>

<body>

    <div class="page-inner">
        <div style="background-color:#91989F">
            <h1>
                <span class="badge" style="color:#FFFFFB">公告列表</span>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="mmmmmm">

                    <div class="card-body">
                        <div class="table-responsive" id="OverTimeTable">
                            <button type="button" class="btn btn-secondary" >新增公告</button>
                            <table class="table" id="basic-datatables">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmployeeID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AnnounceTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Detail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Importance)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AnnounceTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Detail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Importance)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info">檢視</button>
                                        </td>
                                    </tr>
                                }

                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>




