@model IEnumerable<AMS.Models.AnnouncementDisplayViewModel>


<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.AnnounceTime)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Importance)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.AnnounceTime)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Importance)
            </td>
        </tr>
    }

</table>
<button  class="btn  btn-lg btn-search btn-lg btn-block" style="background-color:#f1f0ed;color:#3A3226" onclick="AnnouncementIndex()">
    <i class="icon-list"></i><span>
         <strong>更多資訊...</strong>
    </span>
</button>