@model IEnumerable<AMS.Models.LeaveIndexViewModel>

@using (Html.BeginForm("Leave11", "LeaveRequests"))
{

    <table class="display table table-striped table-hover" id="basic-datatables">
        <thead class="text-light">
            <tr>
                <th>
                    <span>
                        <strong>明細</strong>
                    </span>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequestID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.LeaveReason)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Review)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewTime)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Attachment)
                    </th>*@


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-light">
                    <td>

                        <button type="button" class="btn btn-sm" style="background-color:#DAC9A6;color:#3A3226" onclick="LeaveDetails(@item.LeaveRequestID)">
                            <i class="icon-list"></i><span>
                                <strong>明細</strong>
                            </span>
                        </button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveRequestID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.LeaveReason)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Review)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewTime)
                    </td>
                    @*<td>
                            @Html.Partial("_ShowPhotoPartial", item)
                        </td>*@

                </tr>
            }
        </tbody>
    </table>
}