@model IEnumerable<AMS.Models.LeaveRequests>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#basic-datatables').DataTable({
            });
        });
    </script>
}
    <div class="page-inner">
        <div class="card">
            <div class="card-head-row">
                <p>
                    @Html.ActionLink("新增", "Create", "Create", new { @class = "btn btn-outline-primary" })
                </p>


            </div>
            <div class="card-body">
                <table class="display table table-striped table-hover" id="basic-datatables">

                    <thead class="bg-primary text-light">

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EmployeeID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RequestTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LeaveType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LeaveReason)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReviewStatusID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReviewTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model => Model.Attachment)
                            </th>
                            <th>Action</th>
                        </tr>

                    </thead>


                    <tbody >
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LeaveType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LeaveReason)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReviewStatusID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReviewTime)
                                </td>
                                <td>
                                    @Html.Partial("_ShowPhotoPartialDetails", item)
                                </td>
                                <td>
                                    @Html.ActionLink("編輯", "Edit", new { id = item.LeaveRequestID }, new { @class = "btn btn-outline-primary" })|
                                    @Html.ActionLink("明細", "Details", new { id = item.LeaveRequestID }, new { @class = "btn btn-outline-primary" })
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.LeaveRequestID }, new { @class = "btn btn-outline-primary" })*@
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>