@model IEnumerable<AMS.Models.LeaveReviewViewModels>
<p hidden>@TempData["ReviewStatus"]</p>
<p id="Month" >@TempData["Month"]</p>
@if (TempData["ReviewStatus"].ToString() == "2")
{
    @Html.Partial("_ChartView");
}

    @using (Html.BeginForm("EditLeave", "Review"))
    {
        <p hidden id="type"></p>
        <table id="basic-datatables" class="display table table-striped table-hover">

            <thead class="bg-primary text-light">
                <tr>
                    <td>
                        @Html.CheckBox("CheckBox", false, new { id = "CheckAll", })
                        <span>
                            <strong>全選</strong>
                        </span>
                    </td>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeaveType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.RequestTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveReason)
                        </th>*@

                    <th>
                        @Html.DisplayNameFor(model => model.ReviewStatus)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-light">
                        <td>
                            @Html.CheckBox("Checkboxxx", false, new { style = "background-color:#6E75A4", id = "Checkboxxx", value = item.LeaveRequestID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.RequestTime)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.LeaveReason)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.ReviewStatusID)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.ReviewStatus)
                        </td>
                        <td style="white-space:nowrap">
                            @if (@TempData["ReviewStatus"].ToString() == "1")
                            {
                                <a id="approve" style="margin: 10px" href="@Url.Action("Approve",new { id = item.LeaveRequestID })"><i style="color:#71BF50" class="far fa-check-circle fa-2x"></i></a>
                                <a id="reject" style="margin: 10px" href="@Url.Action("Reject",new { id = item.LeaveRequestID })"><i style="color:#D46934" class="far fa-times-circle fa-2x"></i></a>
                                <a id="detail" style="margin: 10px" value=item.LeaveRequestID><i class="far fa-list-alt fa-2x"></i></a>
                            }
                            else
                            {
                                <a id="detail" style="margin: 10px" value=item.LeaveRequestID><i class="far fa-list-alt fa-2x"></i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

