@*@model IEnumerable<AMS.Controllers.EmployeesViewModel>*@
@model IEnumerable<AMS.Models.LeaveReviewViewModels>

@{
    ViewBag.Title = "Index";
}
@*@Html.DropDownList("Customers", null, "-- 請選擇 --", new { @class = "col-sm-11 form-control" })*@
@*<div id="Container"></div>*@



<p>@TempData["Status"]</p>

<div class="page-inner">
    <div style="background-color:#91989F">
        <h1><span class="badge" style="color:#FFFFFB">個人刷卡明細查詢</span></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" id="mmmmmm">
                <div class="card-header row form-group">
                    @*<label class=" control-label" style="font-size:20px;margin-left:20px">部門:</label>*@
                    @*<div class="col-sm-2">
                        @Html.DropDownList("Customers", null, "-請選擇-", new { @class = " form-control" })
                        @Html.DropDownList("Customers", null, "-請選擇-", new { @class = " form-control" })*@


                    <label class=" control-label" style="font-size:20px;margin-left:20px">審核狀態:</label>
                    <div class="col-sm-2">
                        @Html.DropDownList("Customers", null, new { @class = " form-control" })
                    </div>
                    <label class=" control-label" style="font-size:20px;margin-left:20px">申請項目:</label>
                    <div id="ddlemp" class="col-sm-2">
                        @Html.DropDownList(
                         "url",
                         new SelectList(new[]
                         {
                             new SelectListItem { Text = "休假", Value ="1"},
                             //new SelectListItem { Text = "補刷卡", Value ="2"},
                             new SelectListItem { Text = "加班", Value = "3" },
                         }, "Value", "Text"),

                         new { id = "urlddl", @class = " form-control" }
                        )

                    </div>

                    @*@Html.DropDownList(
                         "url",
                         new SelectList(new[]
                         {
                             new SelectListItem { Text = "休假", Value = Url.Action("Index", "Review",new{ id="1"}) },
                             new SelectListItem { Text = "補刷卡", Value = Url.Action("Index", "Review",new{ id="2"}) },
                             new SelectListItem { Text = "加班", Value = Url.Action("Index", "Review",new{ id="3"}) },
                         }, "Value", "Text"),

                         new { id = "urlddl", @class = " form-control" }
                        )*@





                    @*</div>*@
                    @*<label class=" control-label" style="font-size:20px;margin-left:20px">員工:</label>
                        <div id="ddlemp" class="col-sm-2">
                            @Html.DropDownList("Employees", null, "-請選擇-", new { @class = " form-control" })
                        </div>
                        <div class="col-sm-2">
                            <input id="Button1" type="button" value="新增員工" class="btn btn-outline-primary" />
                        </div>*@
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="Employeestable">
                        @Html.Partial("_LeavePartial", Model);
                        @*<div id="Content"></div>*@
                        @*<p id="Content"></p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
        
            $("#Customers").bind("change", function () {
                Switch();
            });

            $("#ddlemp").bind("change", function () {
                Switch();
            });

            @*if (@TempData["Status"]!="") {
                timechange();
            };*@

            $('#basic-datatables').DataTable({});
            $("#basic-datatables_filter").hide();
            $("#CheckAll").click(cAll);

        });

        function cAll() {
            if ($("#CheckAll").prop("checked")) {//如果全選按鈕有被選擇的話（被選擇是true）
                $("input[name='Checkboxxx']").each(function () {
                    $(this).prop("checked", true);//把所有的核取方框的property都變成勾選
                })
            } else {
                $("input[name='Checkboxxx']").each(function () {
                    $(this).prop("checked", false);//把所有的核方框的property都取消勾選
                })
            }
        }

        function Switch() {

            switch ($('#urlddl').val()) {
                case '1':
                   var u = "@Url.Action("AjaxLeave","Review")/"
                    break;
                case '2':
                   var u = "@Url.Action("Ajax","Review")/"
                    break;
                case '3':
                   var u = "@Url.Action("AjaxOverTime","Review")/"
                    break;

                default:
            }

            UpdateEmployeesByDepartment(u)
        }

          function UpdateEmployeesByDepartment(u) {
            $.ajax({
                type: "GET",
                @*url: "@Url.RouteUrl("Default", new { controller = "Review", action = "Ajax" })/" + "null/" + Customers.value,*@
               url: u+ Customers.value
               }).done(function (result) {
                    $("#Employeestable").html(result);
                    $('#basic-datatables').DataTable({
                    });
                   $("#basic-datatables_filter").hide();
                   $("#CheckAll").click(cAll);
                  }).fail(function (e) { alert(e.responseText) });

              //$("#CheckAll").click(cAll);
              //$("#CheckAll").click(a());
              //$("#CheckAll").click(cAll);
        }
        function a() {
            alert('a');
        }

        function UpdateSuccess() {
            swal("審核完成", "", {
                icon: "info",
                buttons: {
                    confirm: {
                        className: 'btn btn-info'
                    }
                },
            });
        }

        function UpdateOrders() {
            @*$.ajax({
                type: "Get",
                url: "@Url.Action("Ajax","Review")/" + Customers.value
                //url:"/Review/Index2/2"
            }).done((result) => {
                $("#Employeestable").html(result);


            }).fail((e) => {
                $("#Employeestable").html(e);

            });*@
        }

        function timechange() {
            swal("起始時間不可大於最後時間!", "", {
                icon: "info",
                buttons: {
                confirm: { className: 'btn btn-info'}
                },
            });


        }


    </script>


}