
@{
    Layout = null;
}
@model IEnumerable<AMS.Models.OverTimeReviewViewModels>

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>加班申請</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="header">
        <h1>線上核准</h1>
        <div data-role="navbar">
            <ul>
                <li>
                    <a href="@Url.Action("LeaveViewMobile")">請假核准</a>
                </li>
                <li>
                    <a href="@Url.Action("OverTimeViewMobile")">加班核准</a>
                </li>
                <li>
                    <a href="#">補打卡核准</a>
                </li>
            </ul>
        </div>
    </div>
    <form method="post" action="@Url.Action("SubmitViewMobile","Review")">
        <table id="tab" data-role="table" data-mode="columntoggle" class="ui-responsive  table table-striped" data-column-btn-text="更多">
            <thead>
                <tr>
                    <th>
                        核准
                    </th>
                    <th>
                        姓名
                    </th>
                    <th data-priority="1">
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th data-priority="2">
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                    <th data-priority="3">
                        @Html.DisplayNameFor(model => model.RequestTime)
                    </th>
                    <th data-priority="4">
                        @Html.DisplayNameFor(model => model.OverTimeReason)
                    </th>
                    <th data-priority="5">
                        @Html.DisplayNameFor(model => model.ReviewStatus)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.CheckBox("checkItem", false, new { value = item.OverTimeRequestID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OverTimeReason)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReviewStatus)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <fieldset class="ui-grid-a">
            <div class="ui-block-a"><input type="submit" value="勾選核准"></div>
            <div class="ui-block-b"><input type="submit" value="全部核准"></div>
        </fieldset>
    </form>
</body>
</html>
