@model IEnumerable<AMS.Controllers.EmployeesViewModel>

<table id="basic-datatables" class="display table table-striped table-hover">
    <thead class="bg-primary text-light">
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
            <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
            <th>@Html.DisplayNameFor(model => model.JobTitle)</th>
            <th>@Html.DisplayNameFor(model => model.Manager)</th>
            <th>@Html.DisplayNameFor(model => model.Hireday)</th>
            <th>@Html.DisplayNameFor(model => model.JobStaus)</th>

        </tr>
    </thead>
    @*<tfoot class="bg-primary text-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
                <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
                <th>@Html.DisplayNameFor(model => model.JobTitle)</th>
                <th>@Html.DisplayNameFor(model => model.Manager)</th>
                <th>@Html.DisplayNameFor(model => model.Hireday)</th>
                <th>@Html.DisplayNameFor(model => model.JobStaus)</th>
                <th>Action</th>
            </tr>
        </tfoot>*@
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table-light">
            <td>
                @*@Html.ActionLink("編輯", "Edit", new { id = item.EmployeeID }, new { @class = "btn btn-outline-primary" })*@
                @*@Html.ActionLink("明細", "Details", new { id = item.EmployeeID }, new { @class = "btn btn-outline-primary" })*@
                <button class="btn btn-sm" name=@("Ed"+item.EmployeeID) style="background-color:#DAC9A6;color:#3A3226">
                    <i class="icon-pencil"></i><span>
                        <strong>編輯</strong>
                    </span>
                </button>
                <button class="btn btn-sm" name=@("De"+item.EmployeeID) style="background-color:#DAC9A6;color:#3A3226">
                    <i class="icon-list"></i><span>
                        <strong>明細</strong>
                    </span>
                </button>

                @*<input type="button" value="編輯" name=@("Ed"+item.EmployeeID) class="btn btn-primary " />
            <input type="button" value="明細" name=@("De"+item.EmployeeID) class="btn btn-primary " />*@

                @*<button type="button" class="btn btn-primary" value=item.EmployeeID name="btnedit">編輯</button>*@
                @*<button type="button" class="btn btn-primary" value=@(item.EmployeeID) neme=@(item.EmployeeID)>明細</button>*@


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hireday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobStaus)
            </td>


        </tr>
        }
    </tbody>
</table>