
@model IEnumerable<AMS.Models.OverTimeViewModel>


<table id="basic-datatables" class="display table table-striped table-hover">
    <thead class="bg-primary text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayorOFF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OTDateType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayorOFF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OTDateType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SummaryTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Review)
                </td>


            </tr>
        }
    </tbody>
</table>
