@model IEnumerable<AMS.Controllers.SerchAttendancesViewModel>

<table id="basic-datatables" class="display table table-striped table-hover">
    <thead class="bg-primary text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                @if (item.Date == "沒打卡")
                {
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>


            </tr>
        }
    </tbody>
</table>
