@model IEnumerable<AMS.Controllers.EmployeesViewModel>

@{
    ViewBag.Title = "Index";
}

<label class=" control-label" style="font-size:35px;margin:10px">員工管理</label>

<div class="page-inner" >
    <div class="row">
        <div class="col-md-12">
            <div class="card" id="mmmmmm">
                <div class="card-header row form-group">
                    <label class=" control-label" style="font-size:20px;margin-left:20px">部門:</label>
                    <div class="col-sm-2">
                        @Html.DropDownList("Department", null, "-請選擇-", new { @class = " form-control" })
                    </div>
                    <label class=" control-label" style="font-size:20px;margin-left:20px">員工:</label>
                    <div id="ddlemp" class="col-sm-2">
                        @Html.DropDownList("Employees", null, "-請選擇-", new { @class = " form-control" })
                    </div>
                    <div class="col-sm-2">
                        <input id="Button1" type="button" value="新增員工"  class = "btn btn-outline-primary"/>
                        @*@Html.ActionLink("新增員工", "Create", null, new { @class = "btn btn-outline-primary" })*@
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="Employeestable">
                        @Html.Partial("_ListempPartial", Model);
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles
{
<style>
    th {
     
    }
</style>
}
@section scripts
{

    <script>
        $(document).ready(function () {

            $('#basic-datatables').DataTable({
            });
            $("#basic-datatables_filter").hide();
        });
        $("#Employees").bind("change", function () {
            UpdateEmployeesByEmployee();
        });

        
        $("#Department").bind("change", function () {
            UpdateEmployeesByDepartment();
            Updateddl();
        });
        $("#Button1").bind("click", function () {
            createmp();
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function createmp() {
            $.ajax({

                type: "GET",
                url: "@Url.Action("Create", "Employees")",
            }).done(function (result) {
             
                   
  
                $("#mmmmmm").html(result);

        
                $("#empFile").bind("change", function () {
                    readURL(this);

                });

                }).fail(function (e) { alert(e.responseText) });
        }


        function Updateddl() {
            $.ajax({

                type: "GET",
                url: "@Url.Action("GetDdlandListemp", "Employees")/" + Department.value,
            }).done(function (result) {

                $("#ddlemp").html(result);
                $("#Employees").bind("change", function () {
                    UpdateEmployeesByEmployee();

                });
                }).fail(function (e) { alert(e.responseText) });
        }

        function UpdateEmployeesByEmployee() {
            $.ajax({

                type: "GET",
                url: "@Url.RouteUrl("Default1", new { controller = "Employees", action = "Listemp" })/" + Employees.value + "/" + Department.value,
                }).done(function (result) {
                    $("#Employeestable").html(result);
                    $('#basic-datatables').DataTable({
                    });
                    $("#basic-datatables_filter").hide();
                }).fail(function (e) { alert(e.responseText) });
        }


        function UpdateEmployeesByDepartment() {



            $.ajax({
                type: "GET",
                url: "@Url.RouteUrl("Default1", new { controller = "Employees", action = "Listemp" })/" + "null/" + Department.value,
                }).done(function (result) {
                    $("#Employeestable").html(result);
                    $('#basic-datatables').DataTable({
                    });
                    $("#basic-datatables_filter").hide();
                }).fail(function (e) { alert(e.responseText) });
        }


    </script>


}