@model IEnumerable<AMS.Controllers.EmployeesViewModel>

@{
    /**/

    ViewBag.Title = "員工管理";
}

<h2>員工管理</h2>




<div class="page-inner">


    <div class="row">
        <div class="col-md-12">
            <div class="card">


                <div class="card-header row form-group">
                    <label class=" control-label" style="font-size:20px;margin-left:20px">部門:</label>
                    @using (Ajax.BeginForm("GetDdlandListemp", new AjaxOptions { UpdateTargetId = "ddlEmployees" }))
                    {

                        @Html.DropDownList("Department", null, "-請選擇-", new { @class = "form-control", onchange = "doSubmit($(this).parents('form'));" })

                    }
                    <label class=" control-label" style="font-size:20px;margin-left:20px">員工:</label>

                    @using (Ajax.BeginForm("Listemp", null, new AjaxOptions { UpdateTargetId = "Employeestable" }, new { @class = "col-sm-2 " }))
                    {
                        <div id="ddlEmployees"></div>
                    }


                    @Html.DropDownList("Employees", (IEnumerable<SelectListItem>)ViewBag.EmployeeItem, "-請選擇-", new { @class = "col-sm-2 form-control" })

                    @Html.ActionLink("新增員工", "Create", null, new { @class = "col-sm-1 btn btn-outline-primary" })
                </div>






                <div class="card-body">
                    <div class="table-responsive" id="Employeestable">

                        @*@Html.Partial("_ListempPartial", Model);*@




                        @*<table id="basic-datatables" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
                                        <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
                                        <th>@Html.DisplayNameFor(model => model.JobTitle)</th>
                                        <th>@Html.DisplayNameFor(model => model.Manager)</th>
                                        <th>@Html.DisplayNameFor(model => model.Hireday)</th>
                                        <th>@Html.DisplayNameFor(model => model.JobStaus)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
                                        <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
                                        <th>@Html.DisplayNameFor(model => model.JobTitle)</th>
                                        <th>@Html.DisplayNameFor(model => model.Manager)</th>
                                        <th>@Html.DisplayNameFor(model => model.Hireday)</th>
                                        <th>@Html.DisplayNameFor(model => model.JobStaus)</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DepartmentName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JobTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Manager)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Hireday)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JobStaus)
                                            </td>

                                            <td>
                                                @Html.ActionLink("編輯", "Edit", new { id = item.EmployeeID }, new { @class = "btn btn-outline-primary" })
                                                @Html.ActionLink("明細", "Details", new { id = item.EmployeeID }, new { @class = "btn btn-outline-primary" })

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{

    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    <script>
        function doSubmit(form) {
            form.submit();
        }

        $(document).ready(function () {
            $('#basic-datatables').DataTable({
            });
        });


        @*$("#Employees").bind("change", function () {
            UpdateOrders();

        });
        $("#Department").bind("change", function () {
            UpdateOrders1();

        });


        function UpdateOrders() {
            $.ajax({

                type: "GET",
                url: "@Url.RouteUrl("Default1", new { controller = "Employees", action = "Listemp" })/" + Employees.value + "/" + Department.value,
                }).done(function (result) {
                    $("#Employeestable").html(result);
                    $('#basic-datatables').DataTable({
                    });

                }).fail(function (e) { alert(e.responseText) });
        }


        function UpdateOrders1() {
            $.ajax({
                type: "GET",

                url: "@Url.RouteUrl("Default1", new { controller = "Employees", action = "Listemp" })/" + "null/" + Department.value,
            }).done(function (result) {

                    $("#Employeestable").html(result);
                $('#basic-datatables').DataTable({
                });




                }).fail(function (e) { alert(e.responseText) });
        }*@


    </script>

}
