@model AMS.Models.ClockInApply

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ClockInApply</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OnDuty, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OnDuty, new { htmlAttributes = new { @class = "form-control", Type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.OnDuty, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OffDuty, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OffDuty, new { htmlAttributes = new { @class = "form-control", Type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.OffDuty, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline" style="padding-left:100px">
            <input type="radio" class="custom-control-input" value="1" id="defaultInline1" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline1">1小時</label>
        </div>

        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" value="2" id="defaultInline2" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline2">2小時</label>
        </div>

        <!-- Default inline 3-->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" value="3" id="defaultInline3" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline3">3小時</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" value="4" id="defaultInline4" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline4">4小時</label>
        </div>

        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" value="5" id="defaultInline5" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline5">5小時</label>
        </div>

        <!-- Default inline 3-->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" value="6" id="defaultInline6" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline6">6小時</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" value="7" id="defaultInline7" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline7">7小時</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" value="8" id="defaultInline8" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline8">8小時</label>
        </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                @Html.ValidationMessageFor(model => model.RequestDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script>
            function zeroPadded(val) {
                if (val >= 10)
                    return val;
                else
                    return '0' + val;
            }


            $(document).ready(function () {
                $('#basic-datatables').DataTable({
                });
                $("#basic-datatables_filter").hide();

                d = new Date();
                $("#OnDuty").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "08" + ":" + "00");
                $("#OffDuty").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "16" + ":" + "00");
                $("#RequestDate").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()));
                document.getElementById("RequestDate").disabled = true;
            });

            $("#OnDuty").bind("change", function () {
                var str = $("#OnDuty").val();

                var searchstr = str.substring(11, 13);
                var searchstrmi = str.substring(14, 16);
                //if ($("#OnDuty").val() > $("#OffDuty").val()) {
                //    //timechange();
                //    $("#OnDuty").val($("#OffDuty").val());
                //}             

                if (searchstr > 12 || searchstr < 06) {
                    timechange();
                    $("#OnDuty").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "08" + ":" + "00");
                }
                //else if (searchstrmi > 00) {

                //    $("#time1").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + searchstr + ":" + "00");
                //}


            });



            function timechange() {
                swal("上班時間請在06:00-12:59之間設定", "", {
                    icon: "info",
                    buttons: {
                        confirm: {
                            className: 'btn btn-info'
                        }
                    },
                });
            }

            $("#OffDuty").bind("change", function () {

                if ($("#OnDuty").val() > $("#OffDuty").val()) {
                    //timechange();
                    $("#OnDuty").val($("#OffDuty").val());
                }

            });
            function sethours(hours) {
                var start = document.querySelector("#OnDuty"), end = document.querySelector("#OffDuty");
                $("#OffDuty").val($("#OnDuty").val());
                end.value = start.value;
                end.stepUp(hours);
                //$("#time1").on("click keyup", function () {

                //    end.value = start.value;
                //    end.stepUp(hours);
                //});
            }

            $("input[name='inlineDefaultRadiosExample']").change(function () {


                switch ($("input[name='inlineDefaultRadiosExample']:checked").val()) {
                    case "1":
                        sethours(60)
                        break;
                    case "2":
                        sethours(120)
                        break;
                    case "3":
                        sethours(180)
                        break;
                    case "4":
                        sethours(240)
                        break;
                    case "5":
                        sethours(300)
                        break;
                    case "6":
                        sethours(360)
                        break;
                    case "7":
                        sethours(420)
                        break;
                    case "8":
                        sethours(480)
                        break;

                }


            })


        </script>

    }
