

@{
    ViewBag.Title = "Index";
}

@section styles{
    @*<style>
            #calendar {
                font-size: 30px;
            }
        </style>*@
    @*<style>
            /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
            #map {
                height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>*@
}

<!-- Sidebar -->
<div class="sidebar sidebar-style-2 noprint">
    <div class="sidebar-wrapper scrollbar scrollbar-inner" style="font-family:'Microsoft JhengHei'">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="~/assets/img/woman.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span style="font-family:'Microsoft JhengHei'">
                            @Session["UserFullName"]
                            @*<span class="user-level">@User.Identity.GetUserName()</span>*@

                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <ul class="nav nav-primary">

                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#base">
                        <i class="fa fa-search search-icon"></i>
                        <p style="font-family:'Microsoft JhengHei'">查詢</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse" style="font-family:'Microsoft JhengHei'">

                            <li>
                                <a href="#" onclick="funSerchAttendancest()" )>
                                    <span class="sub-item" style="font-family:'Microsoft JhengHei'">個人刷卡明細查詢</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="funLeaveIndex()" )>
                                    <span class="sub-item" style="font-family:'Microsoft JhengHei'">個人差假明細查詢</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="OverTimeIndex()">
                                    <span class="sub-item" style="font-family:'Microsoft JhengHei'">個人加班明細查詢</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="ClockInApplyView()">
                                    <span class="sub-item" style="font-family:'Microsoft JhengHei'">個人補打卡紀錄查詢</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                @if (Convert.ToString(Session["UserRole"]) == "Leader" || Convert.ToString(Session["UserRole"]) == "HRLeader")
                {
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#sidebarLayout2">
                            <i class="fas fa-th-list"></i>
                            <p style="font-family:'Microsoft JhengHei'">主管區</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="sidebarLayout2">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="#" onclick='PageAjax("@Url.Action("Index", "Review")/1/1/12" ,"未審核")'>
                                        <span class="sub-item" style="font-family:'Microsoft JhengHei'">未審核</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick='PageAjax("@Url.Action("Index", "Review")/1/2/12","已審核")'>
                                        <span class="sub-item" style="font-family:'Microsoft JhengHei'">已審核</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                }
                @if (Convert.ToString(Session["UserRole"]) == "HR" || Convert.ToString(Session["UserRole"]) == "HRLeader")
                {
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#sidebarLayouts1">
                            <i class="fas fa-users"></i>
                            <p style="font-family:'Microsoft JhengHei'">人資區</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="sidebarLayouts1">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="#" onclick='PageAjax("@Url.Action("Index", "Employees")","員工管理")'>
                                        <span class="sub-item" style="font-family:'Microsoft JhengHei'">員工管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick='PageAjax("@Url.Action("Index", "Departments")","部門管理")'>
                                        <span class="sub-item" style="font-family:'Microsoft JhengHei'">
                                            部門管理
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick='PageAjax("@Url.Action("SerchAttendances", "Employees")","刷卡明細查詢")'>
                                        <span class="sub-item" style="font-family:'Microsoft JhengHei'">刷卡明細查詢</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick='PageAjax("@Url.Action("SerchLeave", "Employees")","差假明細查詢")'>

                                        <span class="sub-item" style="font-family:'Microsoft JhengHei'">差假明細查詢</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick='PageAjax("@Url.Action("SerchOverTime", "Employees")","加班明細查詢")'>
                                        <span class="sub-item" style="font-family:'Microsoft JhengHei'">加班明細查詢</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick='PageAjax("@Url.Action("DailyStatistics", "Employees")","日期員工出勤統計")'>

                                        <span class="sub-item" style="font-family:'Microsoft JhengHei'">日期員工出勤統計</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick='PageAjax("@Url.Action("MonthlyStatistics", "Employees")","月出勤統計")'>

                                        <span class="sub-item" style="font-family:'Microsoft JhengHei'">月出勤統計</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<!-- End Sidebar -->
<body>
    <div class="wrapper">
        <div class="main-panel" style="background-color:#fffefa">
            <div class="content" id="mainpanel" style="background-color:#fffefa">
                @*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*@
                <div class="panel-header bg-danger">
                    <div class="page-inner py-5">
                        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                            <div>
                                <h1 class="text-white pb-2 fw-bold">
                                    首頁
                                </h1>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="page-inner mt--5">
                    <div class="row mt--2">
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div style="background-color:#91989F">
                                            <h1>
                                                <span class="badge" style="color:#FFFFFB;margin-bottom:5px;margin-top:5px">行事曆</span>
                                            </h1>
                                        </div>
                                    </div>
                                    <label class="badge badge-info" style="background-color:#A8D8B9">本月工作日天數: @ViewBag.show1 天</label>

                                    <label class="badge badge-info" style="background-color:#A8D8B9">目前出勤天數: @ViewBag.show2 天</label>

                                    <label class="badge badge-info" style="background-color:#A8D8B9">特休天數: @ViewBag.Off 天</label>

                                    <label class="badge badge-info" style="background-color:#A8D8B9">剩餘特休天數: @ViewBag.on 天</label>

                                    <label class="badge badge-info" style="background-color:#A8D8B9">補修已修時數: @ViewBag.Leave 小時</label>

                                    <label class="badge badge-info" style="background-color:#A8D8B9">剩餘補修時數: @ViewBag.over 小時</label>

                                    <div class="chart-container" id="calendar" style="min-height: 375px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div style="background-color:#91989F">
                                            <h1>
                                                <span class="badge" style="color:#FFFFFB;margin-bottom:5px;margin-top:5px">公佈欄</span>
                                            </h1>
                                        </div>
                                        <div id="Announcement"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div style="background-color:#91989F">
                                            <h1>
                                                <span class="badge" style="color:#FFFFFB;margin-bottom:5px;margin-top:5px">近五筆缺勤紀錄</span>
                                            </h1>
                                        </div>
                                        <div id="TakeFive_Uncheck"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="aaaa"></div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul class="nav"></ul>
                </nav>
                <div class="copyright ml-auto">
                    MSIT123。AMS差勤專題
                </div>
            </div>
        </footer>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Shipper
                        <span></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        <div class="card" id="calendar_open"></div>
                    </form>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="button" class="btn btn-primary" id="buttonSend">送出</button>
                    </div>*@
            </div>
        </div>
    </div>
</body>
<!-- Sidebar -->

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/homeindex")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>



    <script>




     //////////////////////睿//////////////////////////////////
        ///post
        function SaveFormDataUseAjaxLeave(AjaxUrl) {
            swal({
                title: '確定要送出這筆資料嗎?',
                //text: "You won't be able to revert this!",
                type: 'warning',
                buttons: {
                    confirm: {
                        text: '確定',
                        className: 'btn btn-success'
                    },
                    cancel: {
                        text: '取消',
                        visible: true,
                        className: 'btn btn-danger'
                    }
                }
            }).then((Delete) => {
                if (Delete) {
                    let myForm = document.querySelector("#FormData");
                    var validator = $("#FormData").validate({
                        debug: true
                    }
                    );
                    console.log(validator);
                    let data = new FormData(myForm);
                    //data.append("DepartmentID","2");
                    let files = $("#LeaveFile").get(0).files;
                    if (files.length > 0) {
                        data.append("Attachment", files[0]);
                    }
                    $.ajax({
                        url: AjaxUrl,
                        type: "POST",
                        contentType: false,         // 告?jQuery不要去這置Content-Type
                        processData: false,         // 告?jQuery不要去處理發送的數據
                        dataType: "json",
                        data: data,
                        //data: {"EmployeeID": EmployeeID.value,},
                    }).done(function (result) {

                        //$("#mainpanel").html(result);
                        SuccessSweetAlert('送出申請，待主管審核');
                        funLeaveIndex()
                        $('#addModal').modal('hide');
                    }).fail(function (e) { SweetAlert("此日期已申請過, 請先確認日期") }
                    );
                } else {
                    swal.close();
                }
            });

        }






    function LeaveDetails(requestid) {
    $.ajax({
    type: "GET",
        url: "@Url.Action("Details", "LeaveRequests")",
        data: { "id": requestid},
    dataType: "html",
    }).done(function (result) {
        $("#mainpanel").html(result);

    }).fail(function (e) { alert(e.responseText) });
    }

        function Export() {  //匯出excel方法
            let valuearray = new Array()
            for (let item of $("input[name='value']:checked")) {  //判斷是否combobox checked
                valuearray.push(item.value)
            }
            var value = "{'value':valuearray}"
            var param = {
                "value": valuearray,
                "id": $("#StartTime").val(),
                "id2": $("#EndTime").val(),

            }
            $.ajax({
                url:"@Url.Action("DownLoadExcel", "LeaveRequests")", /*'/LeaveRequests/DownLoadExcel',*/ //Controller名稱和方法名
                type: "POST",
                dataType: "json",
                data: param,
                success: function (data) {
                    //重定向返回引數
                    location.href = "/LeaveRequests/OutExcel?guid=" + data;
                }
            });
        }



    function funLeaveIndex() {  //到搜尋頁面
    $.ajax({
    type: "GET",
    url: "@Url.Action("LeaveIndexView", "LeaveRequests")",
    dataType: "html",
    }).done(function (result) {
        $("#mainpanel").html(result);
        //changeT();
        $(document).ready(function () {
        $('#basic-datatables').DataTable({
        });
        $("#basic-datatables_filter").hide();
                //$('#example').DataTable();
              //changeT();
            $("#CheckAll").click(cAll);                //全選功能
            $('#Search').bind("click",
                function () {
                    Lrsearch();
                  });
            d = new Date();
            $("#StartTime").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()-7));
            $("#EndTime").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()+1));
        });


            function cAll() {
                if ($("#CheckAll").prop("checked")) {                  //如果全選按鈕有被選擇的話（被選擇是true）
                    $("input[name='value']").each(function () {
                        $(this).prop("checked", true);                 //把所有的核取方框的property都變成勾選
                    })
                } else {
                    $("input[name='value']").each(function () {
                        $(this).prop("checked", false);                //把所有的核方框的property都取消勾選
                    })
                }
            }




        function Lrsearch() {
            let a = $("#StartTime").val()
            let st = a.split('-')
            let Start = st[0] + st[1] + st[2]
            let et = $("#EndTime").val().split('-')
            let End = et[0] + et[1] + et[2]

            let valuearray = new Array()
            for (let item of $("input[name='value']:checked")) {  //判斷是否combobox checked
                valuearray.push(item.value)
            }
            var value = "{'value':valuearray}"
            $.ajax({

                type: "Post",                                      //使用post
                url: "@Url.Action("Leave11", "LeaveRequests")",
                data: {                                            //帶入值傳到controller
                    "value": valuearray,
                    "id":/*$("#StartTime").val(),*/StartTime.value,
                    "id2": $("#EndTime").val(),

                },
                }).done(function (result) {                        //正確做這個
                    $("#LeaveTable").html(result);
                    changeT();
                }).fail(function(e){                               //錯誤做這個
                alert(e.responseText);
                });
        }

        SetTimePicker($("#StartTime"), $("#EndTime"));




    }).fail(function (e) { alert(e.responseText) });
    }





    function funLeaveCreate() {
    $.ajax({
    type: "GET",
    url: "@Url.Action("Create", "LeaveRequests")",
    dataType: "html",
    }).done(function (result) {
        $("#aaaa").html(result);

        $('#addModal').modal('show');
        changeT();


        /////create_start

        $("#LeaveFile").change(function () {
            readURL(this);
        });

        //$(document).ready(function () {
        //    $("#RequestTime").val(new Date().toJSON().slice(0, 19));;
        //});

        $(document).ready(function () {
            d = new Date();
            $("#RequestTime").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + d.getHours() + ":" + d.getMinutes());
        });


        $(document).ready(function () {
            d = new Date();
            $("#StartTime_leave_create").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "08" + ":" + "00");
        });


        $(document).ready(function () {
            d = new Date();
            $("#EndTime_leave_create").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "18" + ":" + "00");
        });
        //////////以下是時間防呆
        TimeErrorProof($("#StartTime_leave_create"), $("#EndTime_leave_create"));

    }).fail(function (e) { alert(e.responseText) });
    }
     /////create_End

    ////////////////////////////////////////////////////////
     //////////////////////瑋////////////////////////////////
    function funSerchAttendancest() {

      $.ajax({
    url: "@Url.Action("SerchAttendances", "Attendances")",
    type: "GET",
    dataType: "html",

    }).done(function (result) {
        $("#mainpanel").html(result);

        //changeT();
        $('#basic-datatables').DataTable({
        });
        $("#basic-datatables_filter").hide();
        SetTimePicker($("#time1"), $("#time2"));


        $("#Button1").bind("click", function () {
            AttendancesSave();
        })

    }).fail(function (e) { alert(e.responseText) });


        }
        function funSerchAttendancest() {

      $.ajax({
    url: "@Url.Action("SerchAttendances", "Attendances")",
    type: "GET",
    dataType: "html",

    }).done(function (result) {
        $("#mainpanel").html(result);

        //changeT();
        $('#basic-datatables').DataTable({
        });
        $("#basic-datatables_filter").hide();
        SetTimePicker($("#time1"), $("#time2"));


        $("#Button1").bind("click", function () {
            AttendancesSave();
        })

    }).fail(function (e) { alert(e.responseText) });


        }
        function ClockInApplyView() {

      $.ajax({
    url: "@Url.Action("ClockInApplyView", "ClockInApply")",
    type: "GET",
    dataType: "html",

    }).done(function (result) {
        $("#mainpanel").html(result);

        //changeT();
        $('#basic-datatables').DataTable({
        });
        $("#basic-datatables_filter").hide();    


      

    }).fail(function (e) { alert(e.responseText) });


    }
        /////////////////////////////////////////////////
        function funClockInApplyCreat() {

    $.ajax({
        type: "GET",
    url: "@Url.Action("ClockinApply", "ClockInApply")",
    dataType: "html",
    }).done(function (result) {
        $("#aaaa").html(result);
        $('#addModal').modal('show');
             d = new Date();
            $("#OnDuty").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "08" + ":" + "00");
            $("#OffDuty").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "17" + ":" + "00");
            $("#RequestDate").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()));
        $("#OnDuty").bind("change", function () {
            var str = $("#OnDuty").val();
            var Today = $("#RequestDate").val();
            var searchstr = str.substring(11, 13);
            var searchstrmi = str.substring(14, 16);
            $("#OffDuty").val($("#OnDuty").val());

            //if (searchstr > 12 || searchstr < 06) {
            //    timechange1();
            //    $("#OnDuty").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "08" + ":" + "00");
            //}
            //else if (str >= Today) {
            //    Datechange();
            //    $("#OnDuty").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "08" + ":" + "00");
            //}


        });
        function sethours(hours) {
            var start = document.querySelector("#OnDuty"), end = document.querySelector("#OffDuty");
            $("#OffDuty").val($("#OnDuty").val());
            end.value = start.value;
            end.stepUp(hours);

        }
        //$("input[name='inlineDefaultRadiosExample']").bind("change", function () {

        //    var ele = $("input[name='inlineDefaultRadiosExample']:checked").val()
        //    sethours(ele * 60);
        //});
        
        $("#defaultInline_08_12").bind("change", function () {
            $("#OnDuty").val();
            var ele = $("#defaultInline_08_12").val()
            sethours(ele * 60);
        });      
        
        $("#defaultInline_13_17").bind("change", function () {
            $("#OnDuty").val();
            var ele = $("defaultInline_13_17").val()
          
        });
      
        $("#defaultInline_08_17").bind("change", function () {
            $("#OnDuty").val();
            var ele = $("#defaultInline_08_17").val()
            sethours(ele * 60);
        });
        $("#submitButton").bind("click", function () {
            Clockinsave();
            test();
        })

    }).fail(function (e) { alert(e.responseText) });
        }


        function Clockinsave() {
            var data = new FormData();
            data.append("OnDuty", OnDuty.value);
            data.append("OffDuty", OffDuty.value);
            data.append("RequestDate", RequestDate.value);
      $.ajax({
    url: "@Url.Action("ClockinApply", "ClockInApply")",
    type: "POST",
    contentType: false,         // 告诉jQuery不要去這置Content-Type
    processData: false,         // 告诉jQuery不要去處理發送的數據
    dataType: "JSon",
    data: data,
    //data: {"EmployeeID": EmployeeID.value,},
    //data: {"EmployeeID": EmployeeID.value,},
    }).done(function (result) {
        $("#mainpanel").html(result);
        if (result.msg == "申請成功") {
            SuccessSweetAlert(result.msg);
        }
        else
        {
            SweetAlert(result.msg);
        }
        
       





    }).fail(function (e) { alert(e.responseText) });


    }

    function test() {

     $.ajax({
    type: "GET",
    url: "@Url.Action("ClockInApplyView", "ClockInApply")",
    dataType: "html",
    }).done(function (result) {
       $("#mainpanel").html(result);
       //changeT();
        $('#basic-datatables').DataTable({
        });
        $("#basic-datatables_filter").hide();

    }).fail(function (e) { alert(e.responseText) });


    }
    function AttendancesSave() {
        var data = new FormData;
        data.append("time1", $('#time1').val());
        data.append("time2", $('#time2').val());
      $.ajax({
    url: "@Url.Action("SerchAttendances", "Attendances")",
    type: "POST",
    contentType: false,         // 告诉jQuery不要去這置Content-Type
    processData: false,         // 告诉jQuery不要去處理發送的數據
    dataType: "html",
    data: data,
    }).done(function (result) {
        $("#mainpanel").html(result);
        changeT();
        d = new Date();
        $("#time1").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate() + 2));
        $("#time2").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate() + 2));

        TimeErrorProof($("#time1"), $("#time2"));
        $("#Button1").bind("click", function () {
            AttendancesSave();
        })
    }).fail(function (e) { alert(e.responseText) });
    }

      ////////////////////////瑋////////////////////////////////
    //////////////////汪///////////////////////////////
    function ReviewPageAjax(PageUrl, sta) {
        $.ajax({
            type: "GET",
            url: PageUrl,
            dataType: "html",
        }).done(function (result) {
            $("#mainpanel").html(result);

            switch (sta) {
                case 'creat':
                    $("#empFile").bind("change", function () {
                        readURL(this);
                    });
                    break;
                case 'edit':
                    {
                        $("#empFile").bind("change", function () {
                            readURL(this);
                        });
                        break;
                    }
                case 'details':
                    {
                        break;
                    }
                default:
                    break;
            }
        }).fail(function (e) { alert(e.responseText) });
    }

    function Reviewfunbtndetails(s) {
    $.ajax({
        type: "GET",
        url: "@Url.Action("Details", "Review")/" + s,
        dataType: "html",
    }).done(function (result) {
        $("#mmmmmm").html(result);

    }).fail(function (e) { alert(e.responseText) });
}



    ///////////////////////正//////////////////////
    function GetDailyStatistics() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDailyStatistics", "Employees")/",
            dataType: "json",
        }).done(function (datas) {
            console.log(datas);

            $("#statisticsnum1").text(`${datas[4].人數}`)
            $("#statisticsnum2").text(`${datas[4].未到}`)
            $("#statisticsnum3").text(`${datas[4].請假}`)




            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['行銷部', '業務部', '會計部','資訊部','人資部','工程部','研發部'],
                    datasets: [{
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 206, 86, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                             'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1,
                        label: '出席率(%)',
                        data: [Math.ceil(((datas[0].人數 - datas[0].未到) / datas[0].人數)* 100), Math.ceil(((datas[1].人數 - datas[1].未到) / datas[1].人數)* 100), Math.ceil(((datas[2].人數 - datas[2].未到) / datas[2].人數)* 100),
                            Math.ceil(((datas[3].人數 - datas[3].未到) / datas[3].人數)* 100), Math.ceil(((datas[4].人數 - datas[4].未到) / datas[4].人數)* 100), Math.ceil(((datas[5].人數 - datas[5].未到) / datas[5].人數)* 100),
                            Math.ceil(((datas[6].人數 - datas[6].未到) / datas[6].人數)* 100)]
                    }]
                },
                options: {
                    onClick: function (c, i) {
                        e = i[0];
                        console.log(e._index+1)
                        var x_value = this.data.labels[e._index];
                        var y_value = this.data.datasets[0].data[e._index];
                        $("#StatisticsDepartmentName").text(x_value);
                        console.log(y_value);
                        GetDailyStatisticsDataByDepartment(e._index + 1)
                        GetDailyStatisticsByDepartment(e._index + 1 );
                    }
                },

            });



        }).fail(function (e) { alert(e.responseText) });
    }



    function DepartmentsCreate() {
    $.ajax({
    type: "GET",
    url: "@Url.Action("Create", "Departments")",
    dataType: "html",
    }).done(function (result) {

        $("#aaaa").html(result);

        $('#addModal').modal('show');
    }).fail(function (e) { alert(e.responseText) });
        }

      function GetDailyStatisticsDataByDepartment(DepartmentId) {
    $.ajax({
        type: "GET",
        url: "@Url.Action("GetDailyStatisticsDataByDepartment", "Employees")/" + DepartmentId,
        dataType: 'json',
    }).done(function (datas) {
        $("#statisticsnum1").text(`${datas[0].人數}`)
        $("#statisticsnum2").text(`${datas[0].未到}`)
        $("#statisticsnum3").text(`${datas[0].請假}`)

    }).fail(function (e) { alert(e.responseText) });
    }

        function PostDepartments() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "Departments")/",
                data: { "time1": DepartmentName.value, "time2": DepartmentName.value },
                //dataType: 'html',
            }).done(function (result) {
                $("#Employeestable").html(result);
                changeT();

            }).fail(function (e) { alert(e.responseText) });
        }


    function GetSerchList(SerchUrl) {
    $.ajax({
        type: "POST",
        url:SerchUrl ,
        data: { "time1": time1.value, "time2": time2.value },
        dataType: 'html',
    }).done(function (result) {
        $("#Employeestable").html(result);
        changeT();

    }).fail(function (e) { alert(e.responseText) });
}


    function GetDailyStatisticsByDepartment(DepartmentId) {
    $.ajax({
        type: "GET",
        url: "@Url.Action("GetDailyStatisticsByDepartment", "Employees")/" + DepartmentId,
        dataType: 'html',
    }).done(function (result) {
        $("#Employeestable").html(result);
        changeT();

        }).fail(function (e) { SweetAlert(e.responseText) });
}
function Updateddl() {
    $.ajax({
        type: "GET",
        url: "@Url.Action("GetDdlandListemp","Employees")/" + Department.value,
    }).done(function (result) {
        $("#ddlemp").html(result);
        $("#Employees").bind("change", function () {
            UpdateEmployeesByEmployee();
        });
        }).fail(function (e) { SweetAlert(e.responseText) });
}

function UpdateEmployeesByEmployee() {
    $.ajax({
        type: "GET",
        url: "@Url.Action("UpdateEmployeesByEmployee", "Employees")/" + Employees.value,
    }).done(function (result) {
        $("#Employeestable").html(result);
        changeT();

        }).fail(function (e) { SweetAlert(e.responseText) });
}

function UpdateEmployeesByDepartment() {
    $.ajax({
        type: "GET",
        url: "@Url.Action("UpdateEmployeesByDepartment", "Employees")/" + Department.value,
    }).done(function (result) {
        $("#Employeestable").html(result);
        changeT();

        }).fail(function (e) { SweetAlert(e.responseText) });

}


        function DepartmentsEdit(AjaxUrl) {
    $.ajax({
    type: "GET",
    url: AjaxUrl,
    dataType: "html",
    }).done(function (result) {

        $("#aaaa").html(result);

        $('#addModal').modal('show');
    }).fail(function (e) { alert(e.responseText) });
        }


        function PostDepartments() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "Departments")/",
                data: { "DepartmentName": DepartmentName.value, "Manager": Manager.value },
                //dataType: 'html',
            }).done(function (result) {
                $("#mainpanel").html(result);
                changeT();
                $('#addModal').modal('hide');
            }).fail(function (e) { alert(e.responseText) });
        }
        function PostDepartmentsEdit() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Edit", "Departments")/",
                data: { "DepartmentName": DepartmentName.value, "Manager": Manager.value, "DepartmentID": DepartmentID.value},
                //dataType: 'html',
            }).done(function (result) {
                $("#mainpanel").html(result);
                changeT();
                $('#addModal').modal('hide');
            }).fail(function (e) { alert(e.responseText) });
        }

        function DeleteDepartments(AjaxUrl) {
            swal({
                title: '確定要刪除資料嗎?',
                //text: "You won't be able to revert this!",
                type: 'warning',
                buttons: {
                    confirm: {
                        text: '確定',
                        className: 'btn btn-success'
                    },
                    cancel: {
                        text: '取消',
                        visible: true,
                        className: 'btn btn-danger'
                    }
                }
            }).then((Delete) => {
                if (Delete) {

                    $.ajax({
                        type: "POST",
                        url: AjaxUrl,

                        dataType: 'html',
                    }).done(function (result) {
                        $("#mainpanel").html(result);
                        changeT();
                        $('#addModal').modal('hide');
                    }).fail(function (e) { alert(e.responseText) });
                } else {
                    swal.close();
                }
            });
        }

        /////////////////WU//////////////////

        function OverTimeIndex() {
    $.ajax({
    type: "GET",
    url: "@Url.Action("Index", "OverTimeRequests")",
    dataType: "html",
    }).done(function (result) {
        $("#mainpanel").html(result);
        $('#basic-datatables').DataTable({
        });
        $("#basic-datatables_filter").hide();
        $('#Search').bind("click",
            function () {
                OTsearch();
            });

        SetTimePicker($("#StartTime"), $("#EndTime"));
        }).fail(function (e) { SweetAlert(e.responseText) });
        }

         function OTsearch() {
            let a = $("#StartTime").val()
            let st = a.split('-')
            let Start = st[0] + st[1] + st[2]
            let et = $("#EndTime").val().split('-')
            let End = et[0] + et[1] + et[2]
            $.ajax({

                type: "GET",
                url: "@Url.RouteUrl("Default1", new { controller = "OverTimeRequests", action = "Overtimetable" })/" + Start + "/" + End,
            }).done(function (result) {

                    $("#OverTimeTable").html(result);
                    $('#basic-datatables').DataTable({
                });
                $("#basic-datatables_filter").hide();
                }).fail(function(e){
                    SweetAlert(e.responseText);
                });
        }


    function OverTimeCreate() {
    $.ajax({
    type: "GET",
    url: "@Url.Action("Create", "OverTimeRequests")",
    dataType: "html",
    }).done(function (result) {
        d = new Date();
        $("#aaaa").html(result);

        $('#addModal').modal('show');
        $("#StartTime_wu_creat").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "18" + ":" + "00");
        $("#EndTime_wu_creat").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "19" + ":" + "00");
        TimeErrorProof($("#StartTime_wu_creat"), $("#EndTime_wu_creat"));

        }).fail(function (e) { SweetAlert(e.responseText) });
        }


      function CreateNewOT() {
    var data = new FormData();
          data.append("StartTime", StartTime_wu_creat.value);
          data.append("EndTime", EndTime_wu_creat.value);
          data.append("OverTimePay", OverTimePay.value);
          data.append("OverTimeReason", OverTimeReason.value);

    $.ajax({
        url: "@Url.Action("Create","OverTimeRequests")",
        type: "POST",
        contentType: false,         // 告诉jQuery不要去這置Content-Type
        processData: false,         // 告诉jQuery不要去處理發送的數據
        dataType: "json",
        data: data,

    }).done(function (result) {

        OverTimeIndex();
        SweetAlert('已送出申請');

            $('#addModal').modal('hide');
        }).fail(function (e) {
            SweetAlert(e.responseJSON.Message);


        });
        }



        @*function opencalendar() {
            $('#addModal').modal('show');
            var calendarEl_open = document.getElementById('calendar_open');
            var calendar = new FullCalendar.Calendar(calendarEl_open, {
                plugins: ['dayGrid'],
                events: "@Url.Action("LoadCalender", "Home")",
                lazyFetching: false,
            });

            calendar.render();
        };*@


    function OverTimeDetails(requestid) {
    $.ajax({
    type: "GET",
        url: "@Url.Action("Details", "OverTimeRequests")",
        data: { "id": requestid},
    dataType: "html",
    }).done(function (result) {
        $("#mainpanel").html(result);
        }).fail(function (e) { SweetAlert(e.responseText) });
    }
        //============================近五筆未打卡===================================
        document.addEventListener('DOMContentLoaded', function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("TakeFive_Uncheck", "Attendances")",
                datetype: 'html',
            }).done(function (result) {
                $("#TakeFive_Uncheck").html(result);
            }).fail(function (err) {
                SweetAlert(err.statusText);
            });
        });




        //=============================Calendar==========================================
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');


            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'bootstrap'],
                themeSystem: 'bootstrap',
                header: {
                    left: '',
                    center: 'title',
                    right: 'prev,next'
                },
                defaultView: 'dayGridMonth',
                showNonCurrentDates: false,
                events: "@Url.Action("LoadCalender", "Home")",
                lazyFetching: true,
                locale: "zh-tw",
                droppable: true,
                editable: true,
                eventClick: function (info) {
                    //alert('Event: ' + info.event.title);
                    //alert('date: ' + info.event.start);
                    CalendarEventModal(info.event.start, info.event.title)

                    // change the border color just for fun
                    info.el.style.borderColor = 'red';
                },
            });

            calendar.render();
        });

    function CalendarEventModal(date, title) {

        if (title.indexOf("未打卡") > 0) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ClockinApply", "ClockInApply")",
                dataType: "html",
            }).done(function (result) {
                $("#aaaa").html(result);
                $('#addModal').modal('show');
                d = new Date();
                $("#OnDuty").val(date.getFullYear() + "-" + zeroPadded(date.getMonth() + 1) + "-" + zeroPadded(date.getDate()) + "T" + "08" + ":" + "00");
                $("#OffDuty").val(date.getFullYear() + "-" + zeroPadded(date.getMonth() + 1) + "-" + zeroPadded(date.getDate()) + "T" + "16" + ":" + "00");
                $("#RequestDate").val(date.getFullYear() + "-" + zeroPadded(date.getMonth() + 1) + "-" + zeroPadded(date.getDate()));
                $("#OnDuty").bind("change", function () {
                    var str = $("#OnDuty").val();
                    var Today = $("#RequestDate").val();
                    var searchstr = str.substring(11, 13);
                    var searchstrmi = str.substring(14, 16);
                    $("#OffDuty").val($("#OnDuty").val());
                    //}

                    if (searchstr > 12 || searchstr < 06) {
                        timechange1();
                        $("#OnDuty").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "08" + ":" + "00");
                    }
                    else if (str >= Today) {
                        Datechange();
                        $("#OnDuty").val(d.getFullYear() + "-" + zeroPadded(d.getMonth() + 1) + "-" + zeroPadded(d.getDate()) + "T" + "08" + ":" + "00");
                    }
                });
                function sethours(hours) {
                    var start = document.querySelector("#OnDuty"), end = document.querySelector("#OffDuty");
                    $("#OffDuty").val($("#OnDuty").val());
                    end.value = start.value;
                    end.stepUp(hours);

                }
                $("input[name='inlineDefaultRadiosExample']").bind("change", function () {

                    var ele = $("input[name='inlineDefaultRadiosExample']:checked").val()
                    sethours(ele * 60);
                });

                $("#submitButton").bind("click", function () {
                    Clockinsave();
                    test();
                })
            });
        }
        else if (title.indexOf("請假") > 0) {
            var data = new FormData();
            data.append("id", date.getFullYear() + "-" + zeroPadded(date.getMonth() + 1) + "-" + zeroPadded(date.getDate()));
            $.ajax({
                type: "POST",
                url: "@Url.Action("DayDutyList", "Home")",
                contentType: false,         // 告诉jQuery不要去這置Content-Type
                processData: false,         // 告诉jQuery不要去處理發送的數據
                data: data,
            }).done(function (result) {
                $("#aaaa").html(result);
                $('#addModal').modal('show');
                }).fail(function (err) {
                    SweetAlert(err.statusText)
                })
        }
    }
            //=============================Calendar==========================================
            //=============================Announcement==========================================
    document.addEventListener("DOMContentLoaded", function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("IndexTakeFive", "Annouuncements")",
            datetype:'html',
        }).done(function (result) {
            $("#Announcement").html(result);
        }).fail(function (err) {
            SweetAlert(err.statusText);
        });
    })

    function AnnouncementIndex() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("Index", "Annouuncements")",
            dataType: "html",
        }).done(function (result) {
            $("#mainpanel").html(result);
            $('#basic-datatables').DataTable({
            });
            $("#basic-datatables_filter").hide();
        }).fail(function (err) {
            SweetAlert(err.statusText);
        })
    }
    function AnnouuncementsCreate() {
                $.ajax({
            type: "GET",
            url: "@Url.Action("Create", "Annouuncements")",
            dataType: "html",
        }).done(function (result) {
            $("#mainpanel").html(result);
            $('#basic-datatables').DataTable({
            });
            $("#basic-datatables_filter").hide();
        }).fail(function (err) {
            SweetAlert(err.statusText);
        })
    }

    function AnnouuncementsDetail(id) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("Details", "Annouuncements")/"+id,
            dataType: "html",

        }).done(function (result) {
            $("#mainpanel").html(result);
            $('#basic-datatables').DataTable({
            });
            $("#basic-datatables_filter").hide();
        }).fail(function (err) {
            SweetAlert(err.statusText);
        })
    }

    function AnnouuncementsSubmit() {
        var data = new FormData();
        data.append("Title", Title.value);
        data.append("Detail", Detail.value);
        data.append("Importance", $("[name='Importance']:checked").val());

    $.ajax({
        url: "@Url.Action("CreateNew", "Annouuncements")",
        type: "POST",
        contentType: false,         // 告诉jQuery不要去這置Content-Type
        processData: false,         // 告诉jQuery不要去處理發送的數據
        dataType: "json",
        data: data,

    }).done(function (result) {

        SweetAlert('已發布');
        AnnouncementIndex();
        }).then(function () {
            ttt();
        }).fail(function (e) {
            SweetAlert(e.responseJSON.Message);

        });
    }

    </script>

}
