@model IEnumerable<AMS.Models.ClockInApply>

@{
    ViewBag.Title = "Index";
}
<!-- Sidebar -->
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="~/assets/img/woman.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            謝惠婷
                            @*<span class="user-level">@User.Identity.GetUserName()</span>*@

                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#settings">
                                    <span class="link-collapse">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">

                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#base">
                        <i class="fa fa-search search-icon"></i>
                        <p>查詢</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="components/avatars.html">
                                    <span class="sub-item">
                                        個人出勤明細查詢
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="funSerchAttendancest()" )>
                                    <span class="sub-item">個人刷卡明細查詢</span>
                                </a>
                            </li>
                            <li>
                                <a href=@Url.Action("LeaveIndexView","LeaveRequests")>
                                    <span class="sub-item">個人差假明細查詢</span>
                                </a>
                            </li>
                            <li>
                                <a href=@Url.Action("index","OverTimeRequests")>
                                    <span class="sub-item">個人加班明細查詢</span>
                                </a>
                            </li>
                            <li>
                                <a href="components/notifications.html">
                                    <span class="sub-item">打卡申覆統計表</span>
                                </a>
                            </li>
                            <li>
                                <a href="components/sweetalert.html">
                                    <span class="sub-item">個人差勤統計查詢</span>
                                </a>
                            </li>
                            <li>
                                <a href="components/font-awesome-icons.html">
                                    <span class="sub-item">個人月勤惰統計</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-th-list"></i>
                        <p>表單</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href=@Url.Action("Create","LeaveRequests")>
                                    <span class="sub-item">請假申請單</span>
                                </a>
                            </li>
                            <li>
                                <a href=@Url.Action("Create","OverTimeRequests") )>

                                    <span class="sub-item">
                                        申請加班補休
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#" onclick="funClockInApplyCreat()" )>
                                    <span class="sub-item">刷卡異常申覆單</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#sidebarLayout2">
                        <i class="fas fa-th-list"></i>
                        <p>主管區</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayout2">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="#" onclick="funReview()">
                                    <span class="sub-item">審核</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#sidebarLayouts1">
                        <i class="fas fa-users"></i>
                        <p>人資區</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts1">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="#" onclick="funEmpM()">
                                    <span class="sub-item">員工管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">

                                    <span class="sub-item">
                                        部門管理
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#" onclick="funSerchAds()")>
                                    <span class="sub-item">刷卡明細查詢</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="funSerchLev()" )>

                                    <span class="sub-item">差假明細查詢</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="funSerchOvt()" )>
                                    <span class="sub-item">加班明細查詢</span>
                                </a>
                            </li>


                        </ul>
                    </div>
                </li>



            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->

<div class="main-panel">
    <div class="content" id="mainpanel">
        @*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*@
        <div class="row">
            <img src="~/Img/text_kosyouchuu.png" style="display:block; margin:auto;" />
            <img src="~/Img/kouji_rammer.png" style="display:block; margin:auto;" />
        </div>

    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul class="nav">
                   
                </ul>
            </nav>
            <div class="copyright ml-auto">
                MSIT123。AMS差勤專題
            </div>
        </div>
    </footer>
</div>
@section scripts
{
<script>
      //////////////////////瑋////////////////////////////////
    function funSerchAttendancest() {
    $.ajax({
    type: "GET",
    url: "@Url.Action("SerchAttendances", "Attendances")",
    dataType: "html",
    }).done(function (result) {
        $("#mainpanel").html(result);
        $('#basic-datatables').DataTable({
        });
        $("#basic-datatables_filter").hide();


    }).fail(function (e) { alert(e.responseText) });
    }
    function funClockInApplyCreat() {
    $.ajax({
    type: "GET",
    url: "@Url.Action("ClockinApply", "ClockInApply")",
    dataType: "html",
    }).done(function (result) {
        $("#mainpanel").html(result);
        $('#basic-datatables').DataTable({
        });
        $("#basic-datatables_filter").hide();
        $("#submitButton").bind("click", function () {
            test();
        })


    }).fail(function (e) { alert(e.responseText) });
    }
    function test() {
     $.ajax({
    type: "GET",
    url: "@Url.Action("ClockInApplyView", "ClockInApply")",
    dataType: "html",
    }).done(function onSuccess(result) {
        $("#mainpanel").html(result);
        $('#basic-datatables').DataTable({
        });
        $("#basic-datatables_filter").hide();       
       

    }).fail(function (e) { alert(e.responseText) });
        
 
    }


    ///////////////////////////////////////////////
    //////////////////汪///////////////////////////////
    

    function funReview() {
    $.ajax({
    type: "GET",
    url: "@Url.Action("Index", "Review")",
    dataType: "html",
    }).done(function (result) {
        $("#mainpanel").html(result);
        $('#basic-datatables').DataTable({
        });
        $("#basic-datatables_filter").hide();

                $("#Customers").bind("change", function () {
                    Switch();
                });

                $("#ddlemp").bind("change", function () {
                    Switch();
                });
        $("#CheckAll").click(cAll);



    }).fail(function (e) { alert(e.responseText) });
    }

     function Switch() {

            switch ($('#urlddl').val()) {
                case '1':
                   var u = "@Url.Action("AjaxLeave","Review")/"
                    break;
                case '2':
                   var u = "@Url.Action("Ajax","Review")/"
                    break;
                case '3':
                   var u = "@Url.Action("AjaxOverTime","Review")/"
                    break;

                default:
            }

            UpdateEmployeesByDepartment22(u)
        }
    function cAll() {
        if ($("#CheckAll").prop("checked")) {//如果全選按鈕有被選擇的話（被選擇是true）
            $("input[name='Checkboxxx']").each(function () {
                $(this).prop("checked", true);//把所有的核取方框的property都變成勾選
            })
        } else {
            $("input[name='Checkboxxx']").each(function () {
                $(this).prop("checked", false);//把所有的核方框的property都取消勾選
            })
        }
    }
    function UpdateEmployeesByDepartment22(u) {
        $.ajax({
            type: "GET",
                @* url: "@Url.RouteUrl("Default", new { controller = "Review", action = "Ajax" })/" + "null/" + Customers.value,*@
        url: u + Customers.value
    }).done(function (result) {
        $("#Employeestable").html(result);
        $('#basic-datatables').DataTable({
        });
        $("#basic-datatables_filter").hide();
        $("#CheckAll").click(cAll);
    }).fail(function (e) { alert(e.responseText) });

              //$("#CheckAll").click(cAll);
              //$("#CheckAll").click(a());
              //$("#CheckAll").click(cAll);
        }

    function a() {
        alert('a');
    }

    function UpdateSuccess() {
        swal("審核完成", "", {
            icon: "info",
            buttons: {
                confirm: {
                    className: 'btn btn-info'
                }
            },
        });
    }




    /////////////////////////////////////////////
    $("#EmployeeManagement").bind("click", funEmpM);
    window.addEventListener('resize', changeT);
    function funSerchOvt() {
    $.ajax({
    type: "GET",
    url: "@Url.Action("SerchOverTime", "Employees")",
    dataType: "html",
    }).done(function (result) {
        $("#mainpanel").html(result);
        changeT();

    }).fail(function (e) { alert(e.responseText) });
    }

     function funSerchAds() {
    $.ajax({
    type: "GET",
    url: "@Url.Action("SerchAttendances", "Employees")",
    dataType: "html",
    }).done(function (result) {
        $("#mainpanel").html(result);
        changeT();
   
    }).fail(function (e) { alert(e.responseText) });
    }


    function funSerchLev() {
    $.ajax({
    type: "GET",
    url: "@Url.Action("SerchLeave", "Employees")",
    dataType: "html",
    }).done(function (result) {
        $("#mainpanel").html(result);
        changeT();
  
    }).fail(function (e) { alert(e.responseText) });
    }


    function funEmpM() {
    $.ajax({
    type: "GET",
    url: "@Url.Action("Index", "Employees")",
    dataType: "html",
    }).done(function (result) {
        $("#mainpanel").html(result);
        IndexEventFunction();
    }).fail(function (e) { alert(e.responseText) });
    }

    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#s1').attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
}
//$(document).ready(function () {
//    IndexEventFunction();
//});

function createmp() {
    $.ajax({
        type: "GET",
        url: "@Url.Action("Create","Employees")",
    }).done(function (result) {
        $("#mmmmmm").html(result);
        $("#empFile").bind("change", function () {
            readURL(this);
        });
        $("#btn1").bind("click", function () {
            savemp();
        });
        $("#btnback").bind("click", BackToIndexFunction);
    }).fail(function (e) { alert(e.responseText) });
}
        
function savemp() {
    var data = new FormData();
    data.append("EmployeeID", EmployeeID.value);
    data.append("EmployeeName", EmployeeName.value);
    data.append("Email", Email.value);
    data.append("IDNumber", IDNumber.value);
    data.append("DeputyPhone", DeputyPhone.value);
    data.append("Deputy", Deputy.value);
    data.append("Marital", Marital.value);
    data.append("Birthday", Birthday.value);
    data.append("Hireday", Hireday.value);
    data.append("Address", Address.value);
    data.append("Phone", Phone.value);
    data.append("DepartmentName", DepartmentName.value);
    data.append("JobTitle", JobTitle.value);
    data.append("EnglishName", EnglishName.value);
    data.append("gender", gender.value);
    data.append("Notes", Notes.value);
    data.append("Education", Education.value);

    var files = $("#empFile").get(0).files;
    if (files.length > 0) {
        data.append("Photo", files[0]);
    }
    $.ajax({
        url: "@Url.Action("Create","Employees")",
        type: "POST",
        contentType: false,         // 告诉jQuery不要去這置Content-Type
        processData: false,         // 告诉jQuery不要去處理發送的數據
        dataType: "html",
        data: data,
        //data: {"EmployeeID": EmployeeID.value,},
    }).done(function (result) {
        $("#mmmmmm").html(result);
        IndexEventFunction();
        alert('XXXX');

    }).fail(function (e) { alert(e.responseText) });
        }


        function editemp() {
    var data = new FormData();
    data.append("EmployeeID", EmployeeID.value);
    data.append("EmployeeName", EmployeeName.value);
    data.append("Email", Email.value);
    data.append("IDNumber", IDNumber.value);
    data.append("DeputyPhone", DeputyPhone.value);
    data.append("Deputy", Deputy.value);
    data.append("Marital", Marital.value);
    data.append("Birthday", Birthday.value);
    data.append("Hireday", Hireday.value);
    data.append("Address", Address.value);
    data.append("Phone", Phone.value);
    data.append("DepartmentName", DepartmentName.value);
    data.append("JobTitle", JobTitle.value);
    data.append("EnglishName", EnglishName.value);
    data.append("gender", gender.value);
    data.append("Notes", Notes.value);
    data.append("Education", Education.value);

    var files = $("#empFile").get(0).files;
    if (files.length > 0) {
        data.append("Photo", files[0]);
    }
    $.ajax({
        url: "@Url.Action("Edit","Employees")",
        type: "POST",
        contentType: false,         // 告诉jQuery不要去這置Content-Type
        processData: false,         // 告诉jQuery不要去處理發送的數據
        dataType: "html",
        data: data,
        //data: {"EmployeeID": EmployeeID.value,},
    }).done(function (result) {
        $("#mmmmmm").html(result);
        IndexEventFunction();
        alert('XXXX');

    }).fail(function (e) { alert(e.responseText) });
}



function Updateddl() {
    $.ajax({

        type: "GET",
        url: "@Url.Action("GetDdlandListemp","Employees")/" + Department.value,
    }).done(function (result) {
        $("#ddlemp").html(result);
        $("#Employees").bind("change", function () {
            UpdateEmployeesByEmployee();

        });
    }).fail(function (e) { alert(e.responseText) });
}


function UpdateEmployeesByEmployee() {
    $.ajax({

        type: "GET",
        url: "@Url.RouteUrl("Default1", new { controller = "Employees", action = "Listemp" })/" + Employees.value + "/" + Department.value,
    }).done(function (result) {
        $("#Employeestable").html(result);
        changeT();
  
        $("input[name*='MSIT']").bind("click", function () {
            if (event.target.name.substr(0, 2) == "De") {
                funbtndetails(event.target.name.substr(2));
            }
            else if (event.target.name.substr(0, 2) == "Ed") {
                funbtnedit(event.target.name.substr(2));
            }

        });
    }).fail(function (e) { alert(e.responseText) });
}


function UpdateEmployeesByDepartment() {
    $.ajax({
        type: "GET",
        url: "@Url.RouteUrl("Default1", new { controller = "Employees", action = "Listemp" })/" + "null/" + Department.value,
    }).done(function (result) {
        $("#Employeestable").html(result);
        changeT();

        $("input[name*='MSIT']").bind("click", function () {

            if (event.target.name.substr(0, 2) == "De") {
                funbtndetails(event.target.name.substr(2));
            }
            else if (event.target.name.substr(0, 2) == "Ed"){
                funbtnedit(event.target.name.substr(2));
            }


        });
    }).fail(function (e) { alert(e.responseText) });
}

function funbtnedit(s) {
    $.ajax({
        type: "GET",
        url: "@Url.Action("Edit", "Employees")/" + s,
        dataType: "html",
    }).done(function (result) {
        $("#mmmmmm").html(result);
        $("#btnback").bind("click", BackToIndexFunction);
        $("#empFile").bind("change", function () {
            readURL(this);
        });

        $("#btneditpost").bind("click", function () {
            editemp();
        });
    }).fail(function (e) { alert(e.responseText) });
}



function funbtndetails(s) {
    $.ajax({
        type: "GET",
        url: "@Url.Action("Details", "Employees")/" + s,
        dataType: "html",
    }).done(function (result) {
        $("#mmmmmm").html(result);
        $("#btnback").bind("click", BackToIndexFunction);
    }).fail(function (e) { alert(e.responseText) });
}

function BackToIndexFunction() {
    $.ajax({
        type: "GET",
        url: "@Url.Action("backIndex", "Employees")",
    }).done(function (result) {
        $("#mmmmmm").html(result);
        IndexEventFunction();
    }).fail(function (e) { alert(e.responseText) });
}

    function changeT() {

        if (window.innerWidth >= 600)
        {
           
            $('#basic-datatables').DataTable({
                destroy: true
            });
            $("#basic-datatables_filter").hide();
        }
        else {

            $('#basic-datatables').basictable("destroy");
            $('#basic-datatables').basictable({ breakpoint: 600 });
        }
    }

    function IndexEventFunction() {
      changeT();
      


    //$('#basic-datatables').DataTable({
    //});
    //$('#basic-datatables').basictable();
   
    $("#Employees").bind("change", UpdateEmployeesByEmployee);
    $("#Department").bind("change", function () {
        UpdateEmployeesByDepartment();
        Updateddl();
    });
    $("#Button1").bind("click", createmp);
    $("input[name*='MSIT']").bind("click", function () {
     
        if (event.target.name.substr(0, 2) == "De") {
            funbtndetails(event.target.name.substr(2));
        }
        else if (event.target.name.substr(0, 2) == "Ed") {
            funbtnedit(event.target.name.substr(2));
        }

    });

}


</script>


}