@model AMS.Models.Departments


<body>
    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>
                        <span class="badge">編輯</span>
                    </h1>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        @Html.HiddenFor(model => model.DepartmentID)
                        @*<input type="hidden" name="ShipperID" id="ShipperID">*@
                        <div class="form-group">
                            <label class="control-label col-md-2">部門名稱</label>
                            @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">經理</label>
                            @Html.EditorFor(model => model.Manager, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Manager, "", new { @class = "text-danger" })
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-search" style="background-color:#FFFFFB;color:#91989F;border-color:#91989F" data-dismiss="modal" type="button">關閉</button>
                    <button onclick="ConfirmSweetAlert(PostDepartmentsEdit)" type="button" class="btn btn-search" style="background-color:#787D7B;font-family:'Microsoft JhengHei';color:#FFFFFB">
                        <i class="icon-docs"></i> 編輯
                    </button>
                </div>
            </div>
        </div>
    </div>


</body>
}

