@model AMS.Models.Attendances

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendances</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Onduty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onduty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offduty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offduty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Station)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Station)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localtion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localtion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
