@model IEnumerable<AMS.Models.Attendances>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Onduty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offduty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Station)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localtion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Onduty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Offduty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Station)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localtion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
