@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

    <link rel="icon" href="~/assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK8UP_RL_nVi7Mec8Azju2sKkwdD3j4H8&callback=initMap"
            async defer></script>

    <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>
        <script>
            WebFont.load({
                google: { "families": ["Lato:300,400,700,900"] },
                custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],urls: ['@Url.Content("~/assets/css/fonts.min.css")'] },
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/atlantis.min.css">
    <link href="~/Content/phone.css" rel="stylesheet" />
    <!-- basictable -->
    @*<link href="~/Content/basictable.css" rel="stylesheet" />*@



    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">



    @*行事曆*@
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/daygrid-main.css" rel="stylesheet" />
    <link href="~/Content/FCBS4main.min.css" rel="stylesheet" />
    @*行事曆*@
    @RenderSection("styles", required: false)
    @*@RenderSection("css", required: false)*@
    @RenderSection("scripts1", required: false)

</head>
<body>
    <div class="wrapper">
        <div class="main-header noprint">
            <!-- Logo Header -->
            <div class="logo-header" style="background-color:#434343;padding-left:0px">

                <a href=@Url.Action("Index","Home") class="logo">


                    <img src=@Url.Content("~/Img/logo3.png") alt="navbar brand" class="navbar-brand" width="200" height="56" style="margin-left:0px">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" style="background-color:#434343">

                <div class="container-fluid">
                    <div class="collapse" id="search-nav">
                        <form class="navbar-left navbar-form nav-search mr-md-3"></form>
                    </div>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item toggle-nav-search hidden-caret">
                            <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>

                        @*公告通知*@
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <img src="~/assets/img/icons8-sugar-cube-40.png" ::before />
                                <span class="notification" id="NotificationNum">0</span>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="u-text">
                                            <p>未讀公告</p>
                                            <div id="newAnnonucementBox">
                                                @*<p>公告提醒</p>*@
                                            </div>
                                            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="ClearAfterClick()">更多公告...</button>
                                            <button hidden type="button" id="sendmessage" value="@Session["UserName"]"></button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        @*公告通知*@


                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="~/assets/img/woman.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <div class="dropdown-user-scroll scrollbar-outer">
                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg"><img src="~/assets/img/woman.jpg" alt="image profile" class="avatar-img rounded"></div>
                                            <div class="u-text">
                                                <p class="text-muted">@Session["UserName"]</p>@*<a href="profile.html" class="btn btn-xs btn-secondary btn-sm">View Profile</a>*@
                                                <h4>@Session["UserFullName"]</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("Login","Account")">Logout</a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <div>

            @RenderBody()
        </div>

        <!-- Custom template | don't include it in your project! -->
        <div class="custom-template noprint">
            <div class="title">Settings</div>
            <div class="custom-content">
                <div class="switcher">
                    <div class="switch-block">
                        <h4>Logo Header</h4>
                        <div class="btnSwitch">
                            <button type="button" class="changeLogoHeaderColor" data-color="dark"></button>
                            <button type="button" class="selected changeLogoHeaderColor" data-color="blue"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="green"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="red"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="white"></button>
                            <br />
                            <button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Navbar Header</h4>
                        <div class="btnSwitch">
                            <button type="button" class="changeTopBarColor" data-color="dark"></button>
                            <button type="button" class="changeTopBarColor" data-color="blue"></button>
                            <button type="button" class="changeTopBarColor" data-color="purple"></button>
                            <button type="button" class="changeTopBarColor" data-color="light-blue"></button>
                            <button type="button" class="changeTopBarColor" data-color="green"></button>
                            <button type="button" class="changeTopBarColor" data-color="orange"></button>
                            <button type="button" class="changeTopBarColor" data-color="red"></button>
                            <button type="button" class="changeTopBarColor" data-color="white"></button>
                            <br />
                            <button type="button" class="changeTopBarColor" data-color="dark2"></button>
                            <button type="button" class="selected changeTopBarColor" data-color="blue2"></button>
                            <button type="button" class="changeTopBarColor" data-color="purple2"></button>
                            <button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
                            <button type="button" class="changeTopBarColor" data-color="green2"></button>
                            <button type="button" class="changeTopBarColor" data-color="orange2"></button>
                            <button type="button" class="changeTopBarColor" data-color="red2"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Sidebar</h4>
                        <div class="btnSwitch">
                            <button type="button" class="selected changeSideBarColor" data-color="white"></button>
                            <button type="button" class="changeSideBarColor" data-color="dark"></button>
                            <button type="button" class="changeSideBarColor" data-color="dark2"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Background</h4>
                        <div class="btnSwitch">
                            <button type="button" class="changeBackgroundColor" data-color="bg2"></button>
                            <button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
                            <button type="button" class="changeBackgroundColor" data-color="bg3"></button>
                            <button type="button" class="changeBackgroundColor" data-color="dark"></button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="custom-toggle">
                    <i class="flaticon-settings"></i>
                </div>*@
        </div>
        <!-- End Custom template -->
    </div>
    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <!-- Chart JS -->
    <script src="~/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>
    <!-- Bootstrap Notify -->
    @*<script src="~/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>*@

    <!-- jQuery Vector Maps -->
    <script src="~/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="~/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="~/assets/js/atlantis.min.js"></script>

    <!-- basictable -->
    @*<script src="~/Scripts/jquery.basictable.min.js"></script>*@

    <!-- 行事曆 -->
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/day-gridmain.js"></script>
    <script src="~/Scripts/interaction_main.js"></script>
    <script src="~/Scripts/FCBS4main.min.js"></script>
    <!-- 行事曆 -->
    <!--Chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>


    <script>
        @* 公告通知 *@
        $(function () {
            var mypush = $.connection.myHub;

            //mypush.client.sendTest1 = function (message) {
            //    $("#test").text(message);
            //    console.log(message);
            //};
            mypush.client.broadcastMessage = function (name, message) {
                //SweetAlert(name + message);
                $("#newAnnonucementBox").append(`<p>${name}有發布一則新公告喔<p>`)
                $("#NotificationNum").text("!")
            };
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    mypush.server.send($('#sendmessage').val(),"剛剛發出一則公告，快去看吧");
                });
            });
        });
        @* 公告通知 *@
        function ttt() {
            $('#sendmessage').trigger('click');
        }
        function ClearAfterClick() {
            AnnouncementIndex();
            $("#newAnnonucementBox").empty();
            $("#NotificationNum").text("0");
        }

    </script>



    @RenderSection("scripts", required: false)
    @*@RenderSection("scripts1", required: false)*@
    @*@Scripts.Render("~/bundles/empview")*@
    //Aleart
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

</body>
</html>